@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* input[type="radio"]:checked + .w-10 {
  background-color: #8b5cf6; 
  border-color: #8b5cf6; 
}

input[type="radio"]:checked + .w-10 > .w-6 {
  background-color: #ffffff;
}

.w-10:hover {
  background-color: #f3f4f6; 
  transform: scale(1.1); 
} */

